# The regex to match the origin of the websites that are allowed to make requests.
# Example: ".*\\.buchert\\.digital" to allow all subdomains of buchert.digital
CORS_ORIGIN_REGEX='^https?:\/\/localhost(:\\d+)?$'
SCHEMA_URL_PATTERN='^https?:\/\/tracking-docs-demo\.buchert\.digital.*\.json$'
SCHEMA_FETCH_TIMEOUT_MS='5000'
SCHEMA_MAX_BYTES='262144'
RATE_LIMIT_MAX='100'
RATE_LIMIT_WINDOW='1 minute'
