.DS_Store
node_modules
.env
schemas

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
.terraformrc
terraform.rc
